@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.downroad {
    color: $white;
    padding: 96px 0 57px;
    background: linear-gradient(to right, rgba(0, 127, 198, 1), rgba(2, 209, 255, 1));

    @include mq($md) {
        padding: 72px 0 46px;
    }

    &__ttl {
        margin-bottom: 79px;

        @include mq($md) {
            margin-bottom: 26px;
            line-height: 1.5;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;

        @include mq($md) {
            gap: 0;
        }
    }

    &__sample-data {
        width: 413px;
        padding-top: 32px;

        @include mq($lg) {
            padding: 0;
        }

        @include mq($md) {
            width: 343px;
            margin: 0 auto;
        }

        img {
            width: 100%;

            @include mq($md) {
                width: 240px;
                margin-bottom: 40px;
            }
        }
    }

    &__text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-align: left;
        margin-bottom: 48px;

        @include mq($md) {
            font-size: 0.75rem;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}