@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

html {
    font-size: 16px;
}

body {
    background-color: $white;
    color: $black;
    font-weight: 500;
    overflow-x: hidden;
    /*-----Google Fonts------*/
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main {
    text-align: center;
    position: relative;
    top: 96px;

    @include mq($md) {
        top: 64px;
    }
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: $black;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

button {
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
}



.brtb {
    display: none;

    @include mq($lg) {
        display: block;
    }

    @include mq($md) {
        display: none;
    }
}

.sp {
    display: none;

    @include mq($md) {
        display: block;
    }
}

.tb {
    display: none;

    @include mq($lg) {
        display: block;
    }
}

.brsp {
    display: none;

    @include mq($md) {
        display: block;
    }
}

img {
    overflow: hidden;
}